<template>
    <b-form @submit.stop.prevent="submit">
        <h4 class="mb-3">Информация</h4>
        <b-row>
            <b-col>
                <b-form-group label="Название" label-for="name">
                    <b-form-input
                        id="name"
                        :value="name"
                        @input="value => setValue('name', value)"
                        name="name"
                    />
                </b-form-group>
            </b-col>
            <b-col v-if="isNew">
                <b-form-group
                    description="Нельзя изменить после отправки заявки"
                    label="Поддомен приложения"
                    label-for="slug"
                >
                    <b-form-input
                        id="slug"
                        :value="slug"
                        @input="value => setValue('slug', value)"
                        name="slug"
                        placeholder="Только латинские буквы"
                    />
                </b-form-group>
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col>
                <b-form-group label="Описание" label-for="description">
                    <b-form-textarea
                        id="description"
                        :value="description"
                        @input="value => setValue('description', value)"
                        name="description"
                        placement="Кратко расскажите о том, что будет делать ваше приложение"
                    />
                </b-form-group>
            </b-col>
        </b-row>
        <b-row v-if="isNew" class="mb-3">
            <b-col>
                <b-form-group
                    label="Проект в Gitlab"
                    label-for="gitlab_project_id"
                    description="Нужен для аудита безопасности. Нельзя изменить после создания"
                >
                    <GitlabProjectsSelector id="gitlab_project_id" />
                </b-form-group>
            </b-col>
        </b-row>

        <b-alert v-if="isNew" show variant="info">
            Администраторы получат уведомление о вашей заявке и рассмотрят её.
        </b-alert>

        <b-button
            :disabled="isRecentlySaved || isLoading"
            type="submit"
            :variant="isRecentlySaved ? 'success' : 'primary'"
            size="lg"
        >
            {{ isRecentlySaved ?  'Сохранено' : (isNew ? 'Отправить заявку' : 'Сохранить') }}
        </b-button>
        <b-spinner v-if="isLoading"/>
    </b-form>
</template>

<script>
    import { mapState, mapActions } from "pinia";
    import GitlabProjectsSelector from "./GitlabProjectsSelector.vue";
    import { useAppEditorStore } from "../../stores/appEditor";

    export default {
        name: 'AppForm',
        components: {GitlabProjectsSelector},
        data() {
           return {
                isNew: true
            };
        },
        computed: {
            ...mapState(useAppEditorStore, [
                'isRecentlySaved', 'isLoading', 'errors'
            ]),
            ...mapState(useAppEditorStore, {
                name: store => store.form.name,
                slug: store => store.form.slug,
                description: store => store.form.description
            })
        },
        methods: {
            ...mapActions(useAppEditorStore, ['setValue', 'submit'])
        }
    };
</script>
