<template>
    <div>
        <b-button
            v-if="authError"
            :href="gitlabAuthLink"
            :variant="buttonVariant"
            target="_blank"
            @click="gitlabAuthClick"
        >
            Подключите Gitlab-аккаунт для указания проекта
        </b-button>
        <b-button v-else-if="!(projectName || projectNameAfterSelect)" :variant="buttonVariant" @click="isModalOpen = true">
            Указать проект
        </b-button>
        <b-button
            v-else
            :variant="buttonVariant"
            title="Нажмите, чтобы указать другой"
            @click="isModalOpen = true"
        >
            Выбран <b>{{projectNameAfterSelect || projectName}}</b>
        </b-button>
        <b-modal
            v-model="isModalOpen"
            title="Выбор проекта"
            size="lg"
            hide-footer
        >
            <b-overlay :show="isLoading">
                <b-form-input v-model="search" placeholder="Поиск" />

                <b-alert variant="danger">
                    Вы не подключили Gitlab-аккаунт. Закройте окно и нажмите на кнопку "Подключите Gitlab-аккаунт"
                </b-alert>

                <b-list-group class="mb-1">
                    <b-list-group-item
                        v-for="item in results"
                        :key="item.id"
                        button
                        @click="selectProject(item)"
                    >
                        {{ item.path_with_namespace }}
                    </b-list-group-item>
                </b-list-group>
            </b-overlay>
        </b-modal>
    </div>
</template>

<script>
    import request from "../../services/api";
    import { useAppEditorStore } from "../../stores/appEditor";
    import { mapActions } from "pinia";

    export default {
        name: 'GitlabProjectsSelector',
        props: {
            projectName: String,
            id: String,
            state: Boolean
        },
        data() {
            return {
                search: '',
                projectNameAfterSelect: null,
                results: [],
                authError: false,
                isLoading: false,
                isModalOpen: false
            };
        },
        computed: {
            gitlabAuthLink() {
                // location.href нет на бекенде, поэтому показываем кнопку только на фронте
                // TODO display gitlab auth button
                return null; //return process.client ? generateGitlabAuthLink(this.$env) : null;
            },
            buttonVariant() {
                return this.state === false ? 'outline-danger' : 'outline-secondary';
            }
        },
        watch: {
            search(value){
                clearTimeout(this.searchTimeout);
                this.searchTimeout = setTimeout(() => this.load(value), 500);
            },
            isModalOpen(isOpen) {
                if (isOpen) {
                    this.load();
                }
            }
        },
        methods: {
            ...mapActions(useAppEditorStore, ['setValue']),
            async load(search) {
                this.isLoading = true;
                try {
                    const res = await request.get(`/api/v1.0/gitlab/projects/`, {
                        params: {search}
                    });
                    this.results = res.data;
                }
                catch (e) {
                    console.error(e);
                    this.authError = e?.response?.status === 401;
                }
                this.isLoading = false;
            },
            selectProject(project) {
                if (project) {
                    this.setValue('gitlab_project_id', project.id);
                    this.projectNameAfterSelect = project.path_with_namespace;
                    this.isModalOpen = false;
                }
            },
            gitlabAuthClick() {
                // cкрываем ссылку, потому что следующий запрос скорее всего будет успешным
                this.authError = false;
            }
        }
    };
</script>
