<template>
  <small class="float-end text-muted">#{{ id }}</small>
  <h1>
    <router-link :to="{ name: 'app-index', params: {id}}">
      {{ app.title }}
    </router-link>
  </h1>
  <router-view />
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      app: {
        id: 1,
        title: "Музей КФУ",
        status_comment: "Запущено",
        web_monitoring_status: true,
        app_url: "http://museum.a.uenv.ru",
        repository_path: "kpfu-itis/museum",
        repository_url: "http://gitlab.com/kpfu-itis/museum"
      }
    };
  },
  computed: {
    id() {
      return this.$route.params.id;
    }
  }
};
</script>

<style scoped>

</style>
