<template>
  <h2>Авторизация</h2>
  <AppStepInfo completed :title="`1. Тип авторизации - ${authType}`">
    <p>
      Наиболее популярный способ.
      Пользователь вводит данные на UniEnv, затем перебрасывается на
      приложение с кодом авторизации, по которому можно получить токен.
      Для изменения типа авторизации
      <router-link :to="{ name: 'main'}">напиши в чат</router-link>.
    </p>
  </AppStepInfo>

  <AppStepInfo active title="2. Отправь учетные данные себе на почту">
    <b-button variant="outline-primary" class="mt-1 mb-1">Отправить данные</b-button>
    <p>
      С ними можно будет начать разработку авторизации в твоем приложении
    </p>
  </AppStepInfo>

  <AppStepInfo title="3. Настройте Redirect URIs">
    <p>
      Это адреса в твоем приложении, на которые будет переброшен пользователь после авторизации. Этот адрес должен
      принять параметр `code` из GET-запроса и получить токен с помощью него
    </p>
    <b-form-textarea placeholder="Впишите Redirect URIs"></b-form-textarea>
  </AppStepInfo>

  <AppStepInfo title="4. Подключите авторизацию в своем приложении">
    <b-button variant="outline-primary" class="mt-1 mb-1">Отправить данные</b-button>
    <p>
      Вот
      <router-link :to="{ name: 'main' }">общая инструкция</router-link>
      и
      <router-link :to="{ name: 'main' }">инструкция по Django</router-link>
      .
    </p>
  </AppStepInfo>
</template>

<script>
import AppCheckBox from "../components/AppCheckBox.vue";
import AppStepInfo from "../components/AppStepInfo.vue";

export default {
  name: "AppAuth",
  components: { AppStepInfo, AppCheckBox },
  data() {
    return {
      authType: "authorization code"
    };
  }
};
</script>

<style scoped>

</style>
