<template>
  <b-list-group>
    <ListGroupItem :to="{ name: 'app-auth', params: { id } }">
      <h5>Авторизация</h5>
      <p>Позволит пользователям приложения входить с той же электронной почтой и паролем, как и на kpfu.ru.</p>
      <p>После авторизации приложение получает специальный ключ (токен, access token), с которым можно получить
        информацию об этом пользователе.</p>
    </ListGroupItem>
    <ListGroupItem :to="{ name: 'main' }">
      <h5>Сервисы</h5>
    </ListGroupItem>
    <ListGroupItem :to="{ name: 'main' }">
      <h5>Деплой</h5>
    </ListGroupItem>
    <ListGroupItem :to="{ name: 'main' }">
      <h5>Чат</h5>
    </ListGroupItem>
    <ListGroupItem :to="{ name: 'main' }">
      <h5>Настройки</h5>
    </ListGroupItem>
  </b-list-group>
</template>

<script>
import ListGroupItem from "../components/ListGroupItem.vue";

export default {
  name: "AppIndex",
  components: { ListGroupItem },
  computed: {
    id() {
      return this.$route.params.id;
    }
  }
};
</script>

<style scoped>

</style>
