<template>
  <b-button variant="success" :to="{name: 'apps-create'}">Добавить приложение</b-button>
  <AppInfo
    v-for="app in apps"
    :key="app.id"
    :id="app.id"
    :title="app.title"
    :status-comment="app.status_comment"
    :app-status="app.web_monitoring_status"
    :app-url="app.app_url"
    :repository-url="app.repository_url"
    :repository-path="app.repository_path"
  />
</template>

<script>
import AppInfo from "../components/AppInfo.vue";

export default {
  name: "Apps",
  components: { AppInfo },
  data() {
    return {
      apps: [
        {
          id: 1,
          title: 'Музей КФУ',
          status_comment: 'Запущено',
          web_monitoring_status: true,
          app_url: 'http://museum.a.uenv.ru',
          repository_path: 'kpfu-itis/museum',
          repository_url: 'http://gitlab.com/kpfu-itis/museum'
        },
        {
          id: 2,
          title: 'Музей КФУ 2',
          status_comment: 'ожидает рассмотрения администрацией',
          web_monitoring_status: null,
          app_url: null,
          repository_path: 'kpfu-itis/museum2',
          repository_url: 'http://gitlab.com/kpfu-itis/museum2'
        }
      ]
    }
  }
};
</script>

