<template>
  <MainHeader :is-authorized="isAuthorized" :auth-url="authUrl" />
  <b-alert v-if="error" variant="danger" show>{{error}}</b-alert>
  <MainSearch />
  <MainSearchResults />
</template>

<script>
  import { mapGetters } from "pinia";
  import MainHeader from "@/components/MainHeader.vue";
  import MainSearch from "@/components/MainSearch.vue";
  import MainSearchResults from "@/components/MainSearchResults.vue";
  import { getAuthUrl } from "../services/auth";
  import { useAuthStore } from "../stores/auth";

  export default {
    name: 'Main',
    components: {MainHeader, MainSearch, MainSearchResults},
    data() {
      return {
        profile: null,
        error: null,
        authUrl: getAuthUrl()
      }
    },
    computed: {
      ...mapGetters(useAuthStore, ['isAuthorized']),
    }
  };
</script>
