<template>
  <div class="form-check">
    <input type="checkbox" disabled :checked="value" class="form-check-input">
    <span class="form-check-label"><slot /></span>
  </div>
</template>

<script>
export default {
  name: "AppCheckBox",
  props: {
    value: Boolean
  }
};
</script>

<style scoped>
  .form-check-input:disabled ~ .form-check-label {
    opacity: 1;
  }
</style>

