<template>
  <b-card class="app-card" :title="title" :sub-title="statusComment">
    <b-card-text>
      <b-button
        variant="outline-primary"
        size="sm"
        class="margin-right float-end"
        :to="{ name: 'app', params: { id } }"
      >
        Подробнее
      </b-button>
      <b-button
        v-if="appUrl"
        :variant="`outline-${appStatus ? 'success' : 'danger'}`"
        :href="appUrl"
        size="sm"
        class="margin-right"
        target="_blank"
      >
        {{ appUrl }}
      </b-button>
      <b-button
        v-if="repositoryUrl"
        variant="outline-secondary"
        :href="repositoryUrl"
        size="sm"
        class="margin-right"
        target="_blank"
      >
        <!-- TODO add Gitlab icon -->
        {{ repositoryPath }}
      </b-button>
    </b-card-text>
  </b-card>
</template>

<script>
export default {
  name: "AppInfo",
  props: {
    id: Number,
    title: String,
    statusComment: String,
    appStatus: Boolean,
    appUrl: String,
    repositoryUrl: String,
    repositoryPath: String,
  }
};
</script>

<style scoped>
  .app-card {
    margin-bottom: 10px;
  }
  .margin-right {
    margin-right: 10px;
  }
</style>
