<template>
  <div class="block d-flex gap-3">
    <input
      type="checkbox"
      class="form-check-input flex-shrink-0"
      :checked="completed"
      disabled
    >
    <div>
      <h4 :class="{'text-primary': active}">{{ title }}</h4>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "AppStepInfo",
  props: {
    title: String,
    completed: Boolean,
    active: Boolean
  }
};
</script>

<style scoped>
  .block {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .form-check-input {
    width: 22px;
    height: 22px;
  }
</style>
