<template>
  <router-link
    :to="to"
    class="list-group-item list-group-item-action"
    :class="{active}"
  >
    <slot />
  </router-link>
</template>

<script>
export default {
  name: "ListGroupItem",
  props: {
    to: Object,
    active: Boolean
  }
};
</script>

<style scoped>

</style>
