<template>
  <header>
    <img class="kpfu-logo" src="@/assets/images/kfu_logo_gerb.png" alt="КФУ">
    <h1>UniEnv</h1>
    <h2>платформа для хостинга и обслуживания студенческих ИТ&nbsp;проектов</h2>
    <b-button
      v-if="!isAuthorized"
      :href="authUrl"
      size="lg"
      variant="primary"
      class="login-button"
    >
      Войти через аккаунт КФУ
    </b-button>
    <b-button
      v-else
      :to="{ name: 'apps' }"
      size="lg"
      variant="primary"
      class="login-button"
    >
      Перейти в личный кабинет
    </b-button>
  </header>
</template>

<script>
export default {
  name: "MainHeader",
  props: {
    authUrl: String,
    isAuthorized: Boolean
  }
};
</script>

<style scoped>
  header {
    overflow: hidden;
    margin-top: 15px;
  }
  h1 {
    margin-top: 15px;
    font-size: 50px;
    font-weight: 300;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .kpfu-logo {
    float: right;
    width: 150px;
  }
  .login-button {
    margin-top: 10px;
  }
</style>
