<template>
  <b-form-input
    class="main-search-input"
    placeholder="Что Вас интересует?"
    size="lg"
  />
</template>

<script>
export default {
  name: "MainSearch"
};
</script>

<style scoped>
  .main-search-input {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-color: var(--bs-primary);
  }
</style>
