<template>
  <b-row>
    <b-col cols="4">
      <b-card
        title="Авторизация"
        tag="article"
        class="mb-2"
      >
        <b-card-text>
          Подключи авторизацию через единый аккаунт КФУ к своему приложению. Используется протокол OAuth2
        </b-card-text>
      </b-card>
    </b-col>
    <b-col cols="4">
      <b-card
        title="Хостинг"
        tag="article"
        class="mb-2"
      >
        <b-card-text>
          Размещай приложения на серверах университета. Поддерживаются Java, C#, Python, PHP, JavaScript и другие технологии.
        </b-card-text>
      </b-card>
    </b-col>
    <b-col cols="4">
      <b-card
        title="Другое"
        tag="article"
        class="mb-2"
      >
        <b-card-text>Перейди на портал поддержки, чтобы узнать больше информации</b-card-text>
      </b-card>
    </b-col>
    <b-col cols="4">
      <b-card
        title="Другое"
        tag="article"
        class="mb-2"
      >
        <b-card-text>Перейди на портал поддержки, чтобы узнать больше информации</b-card-text>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "MainSearchResults"
};
</script>

<style scoped>

</style>
