<template>
  <b-spinner v-if="isLoading" />
  <b-container v-else>
    <router-view />
  </b-container>
</template>

<script>
  import { mapActions, mapState } from "pinia/dist/pinia";
  import { useAuthStore } from "./stores/auth";
  import { hasAccessToRoute } from "./services/auth";
  import { getQueryParam } from "./services/utils";

  export default {
    name: "App",
    computed: {
      ...mapState(useAuthStore, ['isLoading']),
    },
    methods: {
      ...mapActions(useAuthStore, [
        'loadProfile', 'displayErrors', 'finishOAuth'
      ]),
      checkAuth() {
        if (!hasAccessToRoute(this.isAuthorized, this.$route)) {
          this.$router.push({name: "main"});
        }
      }
    },
    async mounted() {
      const token = getQueryParam('token');
      const error = getQueryParam('error');

      this.displayErrors(error);
      await this.finishOAuth(token);
      await this.loadProfile();
      this.checkAuth();
    }
  }
</script>

<style>

</style>
